body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-size: 1390px 650px;
    color: rgb(153, 111, 6);
}
.a{
    display: flex;
}
.timer {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 10px rgba(243, 241, 241, 0.1);
opacity: 1;
}

.time {
    font-size: 2em;
    font-weight: bold;
    margin: 0 10px;
}

.label {
    font-size: 1em;
    color: #555;
}
